* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
img {
    position:relative;
    display: block;

    max-width: 30%;
    min-width: 30%;
    margin-left: 40%;
    
}

.content {
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
}
.content h1 {
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}
body{
    margin-left: auto;
    margin-right: auto;
    background-attachment: relative;
    background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
}
.background-wrap {
    position: relative;
    z-index: -1000; 
    width: 100%;
    height: 100%;
    overflow: hidden;
    top:0;
    left:0;
    
}
.header{
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding-top: 15%;
    margin-bottom: 10px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
    horizontal-align: middle;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    margin-left: 70px;
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #ea4c89;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.sidenav {
    height: 100%;
    min-width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2C2C2C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: a;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: a;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.glyphicon-star {
  font-size: 10px;
  color: #25C9AD;
  size: 10%;
  float:right;
}

h3{
    color: #25C9AD;
}
.ability-title{
    color: gray;
    padding-right: 50px;
}
.white-background{
    background-color: #fffff0;
    padding-left: 150px;
    padding-right: 150px;

}
p3{
    padding-left: 160px;
}
h4{
    text-align: center;
    color: #009999;
    size: 200%;
}
h5{
    color: #009999;
}
h6{
    text-align: center;
    color:#998e8e;
    max-width: 100%;
    height: 50px;
    
    
}

hr{
    border-top: 1px solid gray;
}
.columns1 {
    float: left;
    min-width: 02%;
    padding-left: 23%;
    height: 100px;
    text-align: right;
}
.columns {
    float: left;
    min-width: 10%;
    padding:50%;
    height: 100px; 
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
 @media screen and (min-width: 800px) {
  .typewriter h1 {
     font-size: 36px;
  }
  h6 {
     font-size: 1px;
  }
}

.typewriter h1 {
    font-size: 200%;
    max-width: 100%;
    max-height: 100%;
    
    
    position:relative;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #6d5b5b;
    /*padding-top: 2px;
    margin-bottom: 10px;*/
    
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .01em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #6d5b5b; }
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.centered {
padding-top: 20%;
  position: relative;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h7{
    text-align: center;
    color:#dbcece;
}
