<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/Experience">Experience</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<div class="linkedin">
            <a href="https://www.linkedin.com/in/aniruthkasthuri"><i class="fa fa-linkedin-square" style="font-size:48px;padding-left: 80px;"></i></a>       
            </div>
            <div class="github">
               <a href="https://github.com/aniruthkasthuri"><i class="fa fa-github" style="font-size:48px;padding-left: 80px;"></i></a>
            </div>
            <div class="info">
                <i class="fa fa-info-circle"  style="font-size:48px; padding-left: 70px"></i>
            </div>
            <div class="resume">
                <a href="Aniruth Kasthuri Resume.pdf"><i class="fa fa-file-text-o" style="font-size:48px;padding-left: 80px;"></i></a> 
            </div>
            <div class="mail">
                <i class="fa fa-envelope" style="font-size:48px;padding: 10px;"></i>
            </div>
			</ul>
			</footer>
		</body>
	</html>
